<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © tüm Hakları Saklıdır | @DateTime.Now.Year</span>
        <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Yazar Paneli <a href="https://www.yuchisoft.com" target="_blank">YuchisoftBlog</a> from yuchisoft.com</span>
    </div>
</footer>